################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ExamFinal/ExamFinal.Business/obj/Debug
